{% load i18n %}
<div class="videojs_block">
    <h2>{{ display_name }}</h2>
    <video oncontextmenu="return false;" class="video-js vjs-fluid" controls data-setup='{"language":"pl"}'
           id="{{ uid }}"
           preload="auto">
        {% if "youtube" in url or "youtu.be" in url %}
        <source src="{{ url }}"
                type="video/youtube"/>
        {% else %}
        <source
                src="https://objectstorage.eu-frankfurt-1.oraclecloud.com/n/opiopc/b/OPI_public_1/o/videos%2F{{ url }}"
                type="video/mp4"/>
        {% endif %}
        <p class="vjs-no-js">{% trans "To view this video, please enable JavaScript and consider upgrading to a web
            browser that supports HTML5 video" %}</p>
        {% for lang, url in subtitles_url.items %}
        <track default kind='captions' src='{{ url }}' label="{{lang}}" srclang='{{lang}}'/>
        {% endfor %}
    </video>
</div>
