{% load i18n %}
<div class="wrapper-comp-settings editor-with-buttons is-active"
     id="settings-tab">
    <ul class="list-input settings-list">

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label"
                       for="videojs_edit_display_name">{% trans "Display name" %}</label>
                <input class="input setting-input"
                       id="videojs_edit_display_name" type="text"
                       value="{{ display_name }}">
            </div>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_url">{% trans "Movie URL/ID" %}</label>
                <input class="input setting-input" id="videojs_edit_url"
                       type="text" value="{{ url }}">
            </div>
            <span class="tip setting-help">{% trans "Type in movie id for uploader or paste youtube link" %}</span>
        </li>

        {% for language in languages %}
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label"
                       for="videojs_edit_subtitle_text_{{language}}">{% trans "Language"%}: {{language}}</label>
                <textarea
                        class="input setting-input collapsed subtitle_text"
                        data-language="{{language}}"
                        id="videojs_edit_subtitle_text_{{language}}"
                        placeholder="{%trans 'Paste VTT subtitles text'%}"
                        style="display: inline-block;height: 200px;width: 384px;padding: 16px 12px;border: 1px solid #b2b2b2;">{% for lang,text in subtitles.items %}{% if lang == language %}{{text}}{% endif %}{% endfor %}</textarea>
            </div>
        </li>
        {% endfor %}

    </ul>

    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a class="button action-primary action-save" href="#">{% trans "Save" %}</a>
            </li>
            <li class="action-item">
                <a class="button action-cancel" href="#">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>
</div>


